langchain
langchain-community
langchain-huggingface
langchain-chroma
chromadb
sentence-transformers
transformers
accelerate
bitsandbytes
ragas
evaluate
rouge-score
nltk
PyMuPDF
pydantic
pyyaml
tqdm
peft
